# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -clang-analyzer-nullability.NullableDereferenced,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  -hicpp-signed-bitwise,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
