Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -clang-analyzer-nullability.NullabilityBase,
  -clang-analyzer-nullability.NullableDereferenced,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-valist.Uninitialized,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -hicpp-signed-bitwise,
  -llvmlibc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
