# Copyright 2020-2021 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
BasedOnStyle: Mozilla
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - SERD_ALLOCATED
  - SERD_ALWAYS_INLINE_FUNC
  - SERD_API
  - SERD_CONST_API
  - SERD_CONST_FUNC
  - SERD_PURE_API
  - SERD_PURE_FUNC
  - _Pragma
...
