# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AttributeMacros:
  - SERD_API
  - SERD_CONST_API
  - SERD_FALLTHROUGH
  - SERD_MALLOC_API
  - SERD_PURE_API
  - ZIX_ALLOCATED
  - ZIX_ALWAYS_INLINE_FUNC
  - ZIX_CONST_FUNC
  - ZIX_LOG_FUNC=
  - ZIX_MALLOC_FUNC
  - ZIX_NODISCARD
  - ZIX_NONNULL
  - ZIX_NULLABLE
  - ZIX_PURE_FUNC
  - ZIX_UNSPECIFIED
BasedOnStyle: Mozilla
BraceWrapping:
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - _Pragma
...
