# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -clang-diagnostic-unused-macros,
  -llvmlibc-*,
  -misc-include-cleaner,
  -modernize-macro-to-enum,
  -readability-identifier-length,
CheckOptions:
  - key:   hicpp-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
  - key:   readability-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
FormatStyle: file
HeaderFilterRegex: '.*/serd/.*\.h'
WarningsAsErrors: '*'
