# Copyright 2020-2026 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -llvmlibc-*,
  -misc-include-cleaner,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
FormatStyle: file
HeaderFilterRegex: '.*/serd/.*\.h'
WarningsAsErrors: '*'
