# Copyright 2020-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
BasedOnStyle: Mozilla
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
AttributeMacros:
  - SERD_API
  - SERD_FALLTHROUGH
  - SERD_MALLOC_API
  - ZIX_ALLOCATED
  - ZIX_ALWAYS_INLINE_FUNC
  - ZIX_CONST_FUNC
  - ZIX_LOG_FUNC=
  - ZIX_MALLOC_FUNC
  - ZIX_NODISCARD
  - ZIX_NONNULL
  - ZIX_NULLABLE
  - ZIX_PURE_FUNC
StatementMacros:
  - SERD_DISABLE_NULL_WARNINGS
  - SERD_RESTORE_WARNINGS
  - _Pragma
...
