# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

[submodule "subprojects/exess"]
	path = subprojects/exess
	url = ../exess.git

[submodule "subprojects/zix"]
	path = subprojects/zix
	url = ../zix.git
