# Copyright 2017-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

.meson-subproject-wrap-hash.txt
__pycache__
build/
subprojects/packagecache/
subprojects/sphinxygen-1.0.4/
subprojects/sphinxygen/
