# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -*-non-private-member-variables-in-classes,
  -*-uppercase-literal-suffix,
  -cert-dcl50-cpp,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -misc-no-recursion,
  -performance-unnecessary-value-param,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-suspicious-call-argument,
InheritParentConfig: true
