# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl50-cpp,
  -google-readability-todo,
  -llvmlibc-*,
  -modernize-concat-nested-namespaces,
  -modernize-unary-static-assert,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-named-parameter,
CheckOptions:
  - key:   hicpp-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
  - key:   readability-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/serd/.*\.h.*'
FormatStyle: file
