# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '1'
  - key:   readability-identifier-length.IgnoredParameterNames
    value: '^(id|r|t|v)$'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
