# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC
Checks: >
  *,
  -*-uppercase-literal-suffix,
  -altera-struct-pack-align,
  -clang-diagnostic-unused-macros,
  -llvmlibc-*,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
