Checks: >
  *,
  -*-uppercase-literal-suffix,
  -altera-struct-pack-align,
  -clang-diagnostic-unused-macros,
  -llvmlibc-*,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
