Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
  -readability-suspicious-call-argument,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
